<ul>
    @for (eachBook of bookList; track eachBook.key) {
    <li>
        <div>{{ eachBook.title }}</div>
        <img [src]="eachBook.covers | coverUrl" [alt]="eachBook.title" 
        />
        <a [routerLink]="['/details', eachBook.key]">{{eachBook.title + ' details'}}
        </a>
    </li>
    }

</ul>